body {
    margin: 0;
    padding: 0;
}
#landing-page {
    background-image: url("./../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    height: 100%;
}
#landing-page>div {
    background: inherit;
    position: relative;
    height: 100%;
}
/* page one */
#landing-page ._company-banner {
    position: absolute;
    top: 5vh;
    height: 15vh;
    width: calc(15vh * 1.8567);
    max-width: 40vw;
    max-height: calc(40vw * 1/1.8567);
    left: 0;
    right: 0;
    margin: auto;
}
#landing-page ._banner {
    position: absolute;
    top: 23vh;
    bottom: 22vh;
    left: 0;
    right: 0;
    width: 90vw;
    height: calc(90vw * 9/16);
    max-height: 55vh;
    max-width: calc(55vh * 16/9);
    margin: auto;
}
#landing-page ._main {
    width: 100%;
    animation: blink-image 1s infinite ease-in-out;
}
@keyframes blink-image {
    0% {
        opacity: 0;
    }
    45% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
#landing-page .time-countdown {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    bottom: 5vh;
}
#landing-page .time-countdown>div {
    color: #ffffff;
}
#landing-page .time-countdown>div.label {
    text-transform: uppercase;
    font-size: 4vmax;
    margin-bottom: 1vmin;
}
#landing-page .time-countdown>div.content {
    display: flex;
    align-items: center;
    justify-content: center;
}
#landing-page .time-countdown .content>span {
    display: flex;
    align-items: center;
}
#landing-page .time-countdown .content .number {
    font-size: 3.2vmax;
    text-align: center;
    background-color: #ffffff;
    color: #070f3d;
    border-radius: 8%;
    padding: 0.5vh 1vw;
}
#landing-page .time-countdown .content .label {
    font-size: 1.8vmax;
    padding-left: calc(3px + 0.3vw);
    padding-right: calc(6px + 0.5vw);
}
/* End page one */

/* Start page two */
#landing-page ._container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    text-align: center;
}
#landing-page ._container>div>img {
    height: 100%;
    border: 2px solid #ffffff;
}
#landing-page .my-rikkei-banner .description,
#landing-page ._container .note {
    font-family: "Lato";
}
#landing-page ._container .invitation {
    margin: auto;
}
#landing-page ._container .note {
    text-align: left;
    display: flex;
    font-size: 1.3vmax;
}
#landing-page .note .label {
    margin-right: 5px;
    white-space: nowrap;
}
/* End page two */

/* Start page three */
#landing-page iframe {
    position: absolute;
    top: 10vh;
    bottom: 0;
    left: 0;
    right: 0;
    width: 90vw;
    height: calc(90vw * 9/16);
    max-height: 70vh;
    max-width: calc(70vh * 16/9);
    margin: auto;
    z-index: 1;
}
/* End page three */

body .arrows {
    position: fixed;
    left: 50%;
    width: 20px;
    height: 20px;
    cursor: pointer;
    transform: translateX(-50%);
    z-index: 9;
}
body .arrows:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
body .arrows:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}
body .arrows-up {
    top: 25px;
}
body .arrows-up:before {
    transform: translate(0px, 30px) rotate(135deg);
    animation: arrows-up 2s linear infinite;
}
body .arrows-up:after {
    transform: translate(0px, 0px) rotate(135deg);
    animation: arrows-up 2s linear infinite -1s;
}
@keyframes arrows-up {
    0% {
        border-color: rgba(255, 255, 255, 0);
        transform: translate(0px, 15px) rotate(135deg);
    }
    10%, 90% {
        border-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        border-color: rgba(255, 255, 255, 0.5);
        transform: translate(0px, 0px) rotate(135deg);
    }
    100% {
        border-color: rgba(255, 255, 255, 0);
        transform: translate(0px, -15px) rotate(135deg);
    }
}
body .arrows-down {
    bottom: 25px;
}
body .arrows-down:before {
    transform: translate(0px, 30px) rotate(-45deg);
    animation: arrows-down 2s linear infinite;
}
body .arrows-down:after {
    transform: translate(0px, 0px) rotate(-45deg);
    animation: arrows-down 2s linear infinite -1s;
}
@keyframes arrows-down {
    0% {
        border-color: rgba(255, 255, 255);
        transform: translate(0px, -15px) rotate(-45deg);
    }
    10%, 90% {
        border-color: rgba(255, 255, 255, 0.2);
    }
    50% {
        border-color: rgba(255, 255, 255, 0.5);
        transform: translate(0px, 0px) rotate(-45deg);
    }
    100% {
        border-color: rgba(255, 255, 255, 0);
        transform: translate(0px, 15px) rotate(-45deg);
    }
}
#landing-page>div ._panel-heading {
    text-align: center;
    font-size: 3.2vmax;
    text-transform: uppercase;
    color: #ffffff;
    position: relative;
    top: 5vh;
}

/* Start page four */
#landing-page .prize-container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
    z-index: 2;
}
#landing-page .prize-container:after {
    content: '';
    clear: both;
    display: block;
}
#landing-page .prize-container>div>div.title {
    text-transform: uppercase;
    color: #ffffff;
    padding: 0.3vh 0.3vw;
    font-size: 1.6vmax;
    margin-bottom: 0.4vh;
    margin-top: 0.6vh;
}
#landing-page .prize-container .title>div {
    text-align: center;
    margin-bottom: 3px;
}
#landing-page .prize-container .my-rikkei-banner {
    text-align: center;
}
#landing-page .my-rikkei-banner img {
    height: 20vh;
    width: 20vh;
    max-width: 30vw;
    max-height: 30vw;
    margin: auto;
    cursor: pointer;
    margin-bottom: 0.6vh;
}
#landing-page .my-rikkei-banner .description {
    color: #ffffff;
    display: block;
    margin: auto;
    font-size: 1.6vmax;
    max-width: 50vw;
}
#landing-page .my-rikkei-banner .link {
    display: block;
    font-size: 1.45vmax;
}
#landing-page .my-rikkei-banner .link>a {
    color: #ffffff;
    font-weight: 600;
    z-index: 2;
}
#landing-page .prize-container div.prize img {
    max-height: 70%;
    max-width: 70%;
    display: block;
    margin: auto;
    cursor: pointer;
    animation: shaking-image 2s infinite linear;
}
@keyframes shaking-image {
    0%, 100% {
        transform: scale3d(1, 1, 1);
    }
    10%, 20% {
        transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
    }
    30%, 50%, 70%, 90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    }
    40%, 60%, 80% {
        transform: scale3d(1.1 ,1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    }
}
#landing-page .inline-photo {
    display: flex;
    align-items: center;
    background-color: #ffffff;
    border-radius: 50%;
    margin: auto;
    box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
    opacity: 0;
    transform: translateY(5vh) rotateZ(-5deg);
    transition: transform 4s .25s cubic-bezier(0,1,.3,1), opacity .3s .25s ease-out;
    will-change: transform, opacity;
}
#landing-page .inline-photo.is-visible {
    opacity: 1;
    transform: rotateZ(0deg);
}
/* End page four */

@media screen and (max-width: 1024px) {
    #landing-page ._container {
        height: 80vh;
    }
    #landing-page ._container>div {
        height: 49%;
        margin-bottom: 1.5vh;
    }
    /*#landing-page .invitation {*/
    /*    position: absolute;*/
    /*    left: 0;*/
    /*    right: 0;*/
    /*    bottom: 0;*/
    /*}*/
}

#landing-page .inline-photo {
    width: 28vw;
    height: 28vw;
    max-height: 28vh;
    max-width: 28vh;
}
#landing-page .first-prize .inline-photo {
    width: 32vw;
    height: 32vw;
    max-height: 32vh;
    max-width: 32vh;
}
#landing-page .second-prize, #landing-page .third-prize {
    float: left;
    width: 50%;
    position: relative;
    top: -30px;
}
@media screen and (min-width: 500px) {
    #landing-page .inline-photo {
        width: 18vw;
        height: 18vw;
        max-height: 18vh;
        max-width: 18vh;
    }
    #landing-page .first-prize .inline-photo {
        width: 20vw;
        height: 20vw;
        max-height: 20vh;
        max-width: 20vh;
    }
    #landing-page .second-prize, #landing-page .third-prize {
        top: -40px;
    }
    #landing-page .prize-container {
        transform: translateY(-47%);
    }
}
@media screen and (min-width: 768px) {
    body .arrows {
        width: 40px;
        height: 40px;
    }
    body .arrows-up {
        top: 30px;
    }
    body .arrows-down {
        bottom: 30px;
    }
    #landing-page ._container {
        width: 95%;
    }
    #landing-page ._container:after {
        content: '';
        clear: both;
        display: block;
    }
    #landing-page .second-prize, #landing-page .third-prize {
        top: -45px;
    }
    #landing-page .my-rikkei-banner .description {
        font-size: 1.45vmax;
    }
}
@media screen and (min-width: 992px) {
    #landing-page iframe {
        top: 9%;
    }
    #landing-page .inline-photo {
        width: 21vw;
        height: 21vw;
        max-height: 21vh;
        max-width: 21vh;
    }
    #landing-page .first-prize .inline-photo {
        width: 24vw;
        height: 24vw;
        max-height: 24vh;
        max-width: 24vh;
    }
    #landing-page .my-rikkei-banner .description {
        font-size: 1.3vmax;
        max-width: 35vw;
    }
}
@media screen and (min-width: 1025px) {
    #landing-page ._container {
        width: 70vw;
        height: calc(70vw * 9/14);
        max-height: 80vh;
        max-width: calc(80vh * 14/9);
    }
    #landing-page ._container>div {
        width: 49%;
    }
    #landing-page ._schedule {
        float: left;
    }
    #landing-page .invitation {
        float: right;
    }
    #landing-page .prize-container {
        width: 70vw;
        height: calc(70vw * 3/4);
        max-height: 80vh;
        max-width: calc(80vh * 4/3);
        transform: translateY(-55%);
    }
    #landing-page .prize-container>div {
        position: absolute;
    }
    #landing-page .first-prize {
        top: 50%;
        transform: translateY(-50%);
    }
    #landing-page .second-prize, #landing-page .third-prize {
        right: 0;
        width: unset;
    }
    #landing-page .second-prize {
        top: 0;
    }
    #landing-page .third-prize {
        top: unset;
        bottom: 0;
    }
    #landing-page .first-prize .inline-photo {
        width: 24vw;
        height: 24vw;
        max-height: 24vh;
        max-width: 24vh;
    }
    #landing-page .my-rikkei-banner {
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-25%);
    }
    #landing-page .my-rikkei-banner img {
        height: 25vw;
        width: 25vw;
        max-height: 25vh;
        max-width: 25vh;
    }
    #landing-page .my-rikkei-banner .description {
        font-size: 1.2vmax;
        max-width: 25vw;
    }
}
